<html>
	<head>
		<title> Welcome to {{greeting_message}} </title>

	</head>


	<body>
		<h1> hello </h1>	
		<h1> configured by {{cm_tool}} </h1>
		<h1> provisioned by {{provisioner_tool}}</h1>
		<h1> Host name is {{ansible_nodename}} </h1>

	</body>
</html>
